@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 0.6; }
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 0.6; }
}
@-moz-keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 0.6; }
}
@-o-keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 0.6; }
}

html,body#container,div.col-md-10 {
    height:100%;
}

div.col-md-2 {
	height: 100%;
	background-color: lightblue;
}

/* contents part */
section { 
	background-color: #ffffff;
	font-family: Arial;
	margin-bottom: 10px;
	height: 100%;
	padding: 20px 50px 30px 50px;
	border: 5px, solid, #000000;
	overflow: scroll;
}
 
/* The nav is fixed on the right side  and we center it by translating it 50% 
(we don't know it's height so we can't use the negative margin trick) */
nav {
    position: fixed;
    z-index: 9999;
    left: 60px;
    top: 200px;
    width:150px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

nav a {
	display: block;
	font-size: 13px;
	font-family: Monaco, Consolas, monospace;
	margin-top: 0px;
	margin-bottom: 5px;
	width: 100px;
	height: 35px;
	color: #555;
	border-radius: 48%;
	box-shadow: 1px 1px 2px 3px rgba(0,0,0,0.3);
}

nav a.navlink {
	background-color: rgba(255, 255, 255, 0.3);
	margin-bottom: 13px;
}

nav a i {
	float: left; 
	font-style: normal;
	margin-top: 9px;
	width: 100%;
	text-align: center;
}

.about_me img {
	float: left;
	left: 20px;
	top: 20px;
	width: 100px;
	height: auto;
	-webkit-border-radius: 45px;
	border-radius: 45px;
}

.about_me {
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	width: 90%;
}

h1#intro {
	float : left;
	position: relative;
	left: 10px;
	top: 10px;
	padding-left: 30px;
	padding-top: 20px;
	font-size: 20px;
	color: #337ab7;
	opacity: 0.6;
	animation: fadeIn 2s;
	-moz-animation: fadeIn 2s;
	-webkit-animation: fadeIn 2s;
	-o-animation: fadeIn 2s;
	transition: transform 700ms, opacity 700ms;
	-webkit-transition: -webkit-transform 700ms, opacity 700ms;
}

.hide {
	opacity: 0;
	transform: translateY(1rem);
	-webkit-transform: translateY(1rem);
    -ms-transform: translateY(1rem);
}

.introh1 {
	text-align: left;
	font-size: 18px;
	margin-top: 20px;
}
.introh2 {
	font-size: 13px;
}
.introh2 img {
	margin-bottom: 10px;
}

h4.noteList:hover {
	color: #337ab7;
	cursor:pointer;
}

.sec4but {
	width: 30px; 
	height: 30px; 
	border: 0px; 
	background: url('../img/FB-f-Logo__blue_58.jpeg'); 
	background-size:30px 30px;
}